
Game_2/Assembly-CSharp.csproj
Game_2/Game_2.sln
Game_2/Library/ArtifactDB
Game_2/Library/Bee/fullprofile.json
Game_2/Library/BurstCache/JIT/BurstCacheManifest.cm
Game_2/Library/EditorSnapSettings.asset
Game_2/Library/expandedItems
Game_2/Library/LastSceneManagerSetup.txt
Game_2/Library/Search/transactions.db
Game_2/Library/SourceAssetDB
Game_2/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Game_2/ProjectSettings/ProjectSettings.asset
Game_2/Temp/UnityLockfile
Game_2/Temp/workerlic
Game_2/UserSettings/Layouts/default-2022.dwlt
